agentic-rag-vector-db/RAG2DataIngest.json
{
  "name": "RAG2DataIngest",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        0
      ],
      "id": "66a35048-2262-4159-acf7-55c84b4feb66",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "knowledge_base",
          "mode": "list",
          "cachedResultName": "knowledge_base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "7ba9da17-7aeb-4748-8368-b5c49c268901",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "LHLa0urA6ewmoFo6",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        208
      ],
      "id": "d48f9c38-c33b-4c6f-b12d-c6e8078dbc7f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YwSuiNOptlBtmpMQ",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        208
      ],
      "id": "09dc452d-04cc-4f7f-ac88-71646d51bd2f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eqeGAH4t_OcgJIhxE1VJ5h3baMPB7DHPmVBg_L1v7ro",
          "mode": "list",
          "cachedResultName": "SupaDataBase2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eqeGAH4t_OcgJIhxE1VJ5h3baMPB7DHPmVBg_L1v7ro/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "גיליון1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eqeGAH4t_OcgJIhxE1VJ5h3baMPB7DHPmVBg_L1v7ro/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "77dd983d-7bd8-4441-91db-b9db4365ea78",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g0svfFvPMUPPNlMd",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "INGESTION PIPELINE\nReads product data from Google Sheets, converts each record into\nvector embeddings (OpenAI), and stores them in a Supabase vector\ndatabase so the AI can search them by meaning.",
        "height": 496,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -144
      ],
      "id": "a1fb67e7-ab37-449d-ba42-df5d98ecfa76",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2de2ba60-806c-4c6e-8664-94e9d1e515e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b841f95498d3b48a5fcd832e4e741fe811275e87c53b729b900a5ec88b629438"
  },
  "nodeGroups": [],
  "id": "EFi3PWa5qYhDNWo3",
  "tags": []
}